body { 
    font-family: "Gill Sans MT"; 
    font-size: 16px; 
    background-color: rgba(248, 0, 0, 0.692);
    background-image:url("./imagenfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: snow;
}